# ----
# Site
title: 토리맘의 한글라이즈 프로젝트
url: "https://godekdls.github.io"
baseurl:
google_analytics_key: UA-174135640-1
show_full_navigation: true

## 카테고리 정렬을 위한 커스텀
category-list: ['Spring Batch', 'Spring Web on Reactive Stack', 'Spring Boot', 'Spring Security', 'Spring REST Docs', 'Spring Data R2DBC', 'Spring Data Access', 'Spring Cloud Config', 'Spring Cloud Gateway', 'Spring Cloud Circuit Breaker', 'Resilience4j', 'Reactor Core', 'Reactor Netty', 'Reactor Kafka', 'Apache Kafka']

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: /siteicon.png
description: 토리맘의 한글라이즈 프로젝트.
author:
  name: Dain Lee
  email: godekdls@hanmail.net
  twitter: # twitter username without the @ symbol
social:
  name: Edition Template
  links:
    - https://github.com/CloudCannon/edition-jekyll-template

# -----
# Build

timezone: Etc/UTC

permalink: pretty
#permalink: /:categories/:title:output_ext

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENCE

collections:
  docs:
    title: Documentation
    permalink: /:path/
    output: true

defaults:
  -
    scope:
      path: ""
    values:
      layout: default
  -
    scope:
      path: ""
      type: "docs"
    values:
      seo:
        type: Article
      _comments:
        category: Group navigation links with this field
        order: Used to sort links in the navigation
      _options:
        content:
          width: 800
          height: 2000
  -
    scope:
      path: ""
      type: "posts"
    values:
      _comments:
        type: Marks the impact of this release

# -----------
# CloudCannon

types:
  - minor
  - major
