// 커스텀
div.switch-language-wrapper {
	padding-bottom: 10px;
}
span.switch-language {
	padding: 10px;
	background-color: #9999;
	border-radius: 50px;
	color: #fff;
}
span.switch-language.selected {
	background-color: #a9dcfc;
	border: 2px solid #6799FF;
	color: #003399;
	font-weight: bold;
}
//

pre, code, tt {
	font-family: Inconsolata, Consolas, Courier, "Courier New", "Liberation Mono", monospace;
	font-size: 0.85em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	background-color: #404145;
	color: #FAFAFA;
	border-radius: 2px;
}

pre {
	box-sizing: border-box;
	margin: 0 0 1.75em 0;
	width: 100%;
	padding: 10px;
	font-size: 0.9em;
	white-space: pre;
	overflow: auto;
	border-radius: 3px;

	code, tt {
		font-size: inherit;
		white-space: pre-wrap;
		background: transparent;
		border: none;
		padding: 0;

        ///// 드래그 허용 /////
          -ms-user-select: text;
          -moz-user-select: text;
          -khtml-user-select: text;
          -webkit-user-select: text;
          user-select: text;
        ///// 드래그 허용 /////
	}
}

.highlighter-rouge {
    ///// 드래그 허용 /////
      -ms-user-select: text;
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      user-select: text;
    ///// 드래그 허용 /////
}

.custom-blockquote {
    ///// 드래그 허용 /////
      -ms-user-select: text;
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      user-select: text;
    ///// 드래그 허용 /////
    ///// 검은 배경 /////
    background-color: #404145;
    color: #FAFAFA;
    font-size: 0.85em;
    ///// 드래그 허용 /////
}

blockquote > code,
li > code,
p > code {
	padding: 4px 6px;
	white-space: nowrap;
}
